<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
      <title>
        <%= htmlWebpackPlugin.options.title %>
      </title>
    </head>
    <body>
      <div id="app"></div>
    </body>
</html>
